<div class="col-md-7 col-md-offset-1">
  <div class="page-header">
    <h1>イベント一覧</h1>
  </div>

  <%= will_paginate :renderer => BootstrapPagination::Rails %>
    <div class="list-group">
      <% @events.each do |event| %>
        <%= link_to("/events/#{event.id}", class: 'list-group-item') do %>
          <h4 class="list-group-item-heading">
            <%= event.name %>
          </h4>
          <p class="list-group-item-text">
            <%= event.user.nickname %>
          </p>
        <% end %>
      <% end %>
    </div>
  <%= will_paginate :renderer => BootstrapPagination::Rails %>
</div>