<!DOCTYPE html>
<html>
<head>
  <header class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'AwesomeEvents', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
              <li><%= link_to 'イベント作成', '/events' %></li>
              <li><%= link_to 'ログアウト', '/logout' %></li>
          <% else %>
              <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <title>AwesomeEvents</title>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class='container'>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>"><%= msg %></div>
    <% end %>
  </div>
  <%= yield %>
</body>

</html>